<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/adminpanel.css">
		<title>Panel administrador</title>
	</head>

	<body>
		<div class="contenedor">
			<header>
				<div><img src="../imgs/SuperLogo.png" width="90">
				</div>
				<div>¡Bienvenido!</div>
				<a href="http://www.google.com">
					<div><img src="../imgs/cerrar1.png" width="25px"></div>
				</a>

			</header>
			<div class="subtitulo">¿Qu&eacute; deseas hacer?</div>
			</br>
			<section class="main">
				<a href="http://www.google.com">
					<div class="buscar">Buscar</br></br><img src="../imgs/lupa.png" width="60"></div>
				</a>

				<a href="http://www.google.com">
					<div>Registro</br></br><img src="../imgs/registro.png" width="60"></div>
				</a>

				<a href="http://www.google.com">
					<div>Usuarios</br></br><img src="../imgs/grupo.png" width="60"></div>
				</a>

				<a href="http://www.google.com">
					<div>A&ntilde;adir indormaci&oacute;n m&uacute;sical</br><img src="../imgs/nota-musical.png" width="60">
					</div>
				</a>
			</section>
		</div>
	</body>
</html>