<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/info.css">
    <title>Información de la canción</title>
</head>
<body>


    <div class="container titulo">
        <h3>Informacion de la cancion</h3>
    </div>
    <br>
    <div class="container info">
        <div class="dato">
            <h4><strong>Banda: </strong> The Beatles</h4>
        </div>
        <div class="dato">
            <h4><strong>Album: </strong> The Beatles</h4>
        </div>
        <div class="dato">
            <h4><strong>Nombre cancion: </strong> Let It Be</h4>
        </div>
        <div class="dato">
            <h4><strong>Duracion: </strong> 5:30</h4>
        </div>
        <div class="dato">
            <h4><strong>Observaciones: </strong> Nombres</h4>
        </div>
        <div class="dato">
            <h4><strong>Colaboradores: </strong></h4>
            <p class="nombre"><a href="../views/show_info.html?key=id_artist&category=artist">Nombre 1</a></p>
            <p class="nombre"><a href="../views/show_info.html?key=id_artist&category=artist">Nombre 2</a></p>
            <p class="nombre"><a href="../views/show_info.html?key=id_artist&category=artist">Nombre 3</a></p>
           
        </div>
    </div>
    <br>


    <div class="container titulo">
        <h3>Informacion del album</h3>
    </div>
    <br>
    <div class="container info">
        <div class="dato">
            <h4><strong>Nombre del album: </strong> The Beatles</h4>
        </div>
        <div class="dato">
            <h4><strong>Año de lanzamiento: </strong> 1900</h4>
        </div>
        <div class="dato">
            <h4><strong>Banda: </strong> The Beatles</h4>
        </div>
        <div class="dato">
            <h4><strong>Numero de pistas: </strong> 7</h4>
        </div>
        <div class="dato">
            <h4><strong>Estudio de grabacion: </strong> NYC</h4>
        </div>
        <div class="dato">
            <h4><strong>Portada:</strong></h4>
            <img src="../imgs/album.jpg" alt="Imagen del album" class="album-portada">
        </div>
        <div class="dato">
            <h4><strong>Contraportada:</strong></h4>
            <img src="../imgs/album.jpg" alt="Imagen del album" class="album-portada">
        </div>
    </div>
    <br>


    <div class="container titulo">
        <h3>Informacion del artista</h3>
    </div>
    <br>
    <div class="container info">
        <div class="dato">
            <h4><strong>Nombre: </strong> Rigo Tovar</h4>
        </div>
        <div class="dato">
            <h4><strong>Genero: </strong> Romantica</h4>
        </div>
        <div class="dato">
            <h4><strong>Ciudad de nacimiento: </strong> México</h4>
        </div>
        <div class="dato">
            <h4><strong>Biografia: </strong> </h4>
            <p>Rigoberto Tovar García, más conocido como Rigo Tovar (H. Matamoros, Tamaulipas; 29 de marzo de 1946 - Ciudad de México; 27 de marzo de 2005) fue un cantante y músico Mexicano.</p>
        </div>
        <div class="dato">
            <h4><strong>Sitio web: </strong> No hay</h4>
        </div>
    </div>
    <br>


    <div class="container titulo">
        <h3>Informacion de la banda</h3>
    </div>
    <br>
    <div class="container info">
        <div class="dato">
            <h4><strong>Nombre: </strong> The beatles</h4>
        </div>
        <div class="dato">
            <h4><strong>Año de creacion: </strong> 2000</h4>
        </div>
        <div class="dato">
            <h4><strong>Ciudad de creación: </strong> UK</h4>
        </div>
        <div class="dato">
            <h4><strong>Artistas: </strong></h4>
            <p class="nombre"><a href="../views/show_info.html?key=id_artist&category=artist">Nombre 1</a></p>
            <p class="nombre"><a href="../views/show_info.html?key=id_artist&category=artist">Nombre 2</a></p>
            <p class="nombre"><a href="../views/show_info.html?key=id_artist&category=artist">Nombre 3</a></p>
        </div>
    </div>
</body>
</html>