<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/registro.css">
    <title>Registro banda</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Stereo rock</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../views/results_admin.html">Busqueda admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../views/results.html">Busqueda locutor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../views/adminpanel.html">Panel admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../views/users.html">Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="cerrarsesion">Cerrar sesion</a>
              </li>
          </div>
        </div>
      </nav>
      <br>
      <br>
      <br>
    <div class="container registro">
        <form action="guardarcancion" method="POST">
            <h4>Información sobre la banda</h4>
            <div class="mb-4 form-group">
                <label class="form-label" for="nombre">Nombre de la banda</label>
                <input type="text" id="nombre" class="form-control" name="nombre" value="nombre banda" />
            </div>
            <div class="mb-4 form-group">
                <label class="form-label" for="fecha">Año de creacion</label>
                <input type="number" id="fecha" class="form-control" name="fecha" value="2015"/>
            </div>
            <div class="mb-4 form-group">
                <label class="form-label" for="ciudad">Ciudad de creacion</label>
                <input type="text" id="ciudad" class="form-control" name="ciudad" value="La ciudad" />
            </div>
            <div class="mb-4 form-group">
                <label class="form-label" for="influencias">Influencias (separados por enter)</label>
                <textarea type="text" id="influencias" class="form-control" name="influencias" rows="5">
                    Artista 1
                    Artista 2
                </textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</body>
</html>